node_modules
.idea/

// dotFiles

.eslintrc.json
.prettierrc.json
.vscode
.env

// Data

deletedQuotes.json
links.json
general.db
formTeamData.json
newsUrls.json
devblogUrls.json
messageStore.ndjson

// Configs

config.json
mutedUsers.json
launch.json

// Old

quotes.json
birthdays.json

// testing

section.html
section2.html