node_modules

// dotFiles

.eslintrc.json
.prettierrc.json
.vscode
.env

// Data

deletedQuotes.json
links.json
general.db
formTeamData.json
newsUrls.json

// Configs

config.json
mutedUsers.json
launch.json

// Old

quotes.json
birthdays.json